<!DOCTYPE html>
<html>
<head>
    <title>Ejercicio 2: Formulario de Login</title>
</head>
<body>
    <h1>Formulario de Login</h1>
    <form method="POST" action="/validar_login">
        <label for="usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario"><br><br>

        <label for="contrasena">Contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena"><br><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>